.options{
    background-color: #4169e1;
    border: none;
    height: 30px;
}
.table-header{
    background: linear-gradient(to right, #25c481, #25b7c4);
    display: flex;
    position: relative;
    margin-top: 1%;
}
.table-content{
    max-height: 350px;
    display: flex;
    position: relative;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,1);
   
}
.btndd{
    width: 15%;
	height: 40px;
    border-radius: 10px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 0.8rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	text-align: center;
    display: block;
}
.btndd:hover{
	background-position: right;
	color: white;
}
.lec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.datestyle{
    height: fit-content;
    align-self: center;
}