.btnddd{
    width: 25%;
	height: 40px;
    border-radius: 10px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 0.8rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	text-align: center;
    display: block;
}
.btnddd:hover{
	background-position: right;
	color: white;
}